<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container">
      <div class="pt-5">
          <h1 class="text-center">Home Page</h1>
          Hi {{username}}
      </div>
        
    </div>
    {{>footer}}
</body>

</html>