<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Login</title>
</head>
<body>
    {{>navbar}}
   <div class="container">
        <div class="login_form">
        <form action="/login" method="POST">
          <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleFormControlInput2"
                        placeholder="Password">
                </div>
                  <div class="mb-3">
                    {{!-- <input type="submit" class="btn btn-success" value="Submit"> --}}
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
        </form>
    </div>
   </div>
   {{>footer}}
</body>
</html>