<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container">
      <div class="pt-5">
          <h1 class="text-center">Secret Page</h1>
           cookie: {{cookie}}
      </div>
        
    </div>
    {{>footer}}
</body>

</html>